asgiref==3.7.2
async-timeout==4.0.3
backports.zoneinfo;python_version<"3.9"
certifi==2023.11.17
charset-normalizer==3.3.2
Django==4.2.8
django-environ==0.11.2
django-filter==23.5
django-modeltranslation==0.18.11
django-redis==5.4.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
environ==1.0
gunicorn==21.2.0
drf-yasg==1.21.7
idna==3.6
packaging==23.2
pillow==10.2.0
psycopg2==2.9.9
PyJWT==2.8.0
pytz==2023.3.post1
redis==5.0.1
requests==2.31.0
sqlparse==0.4.4
typing-extensions==4.9.0
urllib3==2.2.0
